/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
node_modules/
.env
vendor/
node_modules/
backend/set_admin.php
backend/set_admin.sql
frontend/taita/
ai-service/